html, body {
    height: 100%;
  }
  .product_container {
    background-image: url("./Gun_Images/miscImages/Bob_in_Space.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  .content {
    flex: 1;
  }
  .footer {
    background-color: #343a40; /* Dark grey color */
    color: #ffffff; /* White text color */
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .dropdown {
    margin-right: 10px;
    margin-top: 10px;
    /* Add some spacing between dropdowns */
  }

  .w3-sidebar {
  }
  
  .w3-sidebar a.w3-bar-item {
     /* Adjust the margin as per your requirement */
  }
  